# COMS4060A - Introduction of Data Visualisation & Exploration: Assignment 3

## Group Members
* Lisa Godiwn - 2437980
* Nihal Ranchod - 2427378
* Zach Schwark - 2434346

Imports

In [69]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Dataset: NBA player statisitcs for the 2022-2023 regular season

Reading in the .csv file and creating a dataframe.

In [70]:
df_stats = pd.read_csv('nba_2022-23_stats.csv')

df_stats_copy = df_stats.copy()
display(df_stats_copy.head())

,Unnamed: 0,Player Name,Salary,Position,Age,Team,GP,GS,MP,FG,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,0,Stephen Curry,48070014,PG,34,GSW,56,56,34.7,10.0,...,12.5,31.0,5.8,2.0,7.8,0.192,7.5,0.1,7.5,4.7
1,1,John Wall,47345760,PG,32,LAC,34,3,22.2,4.1,...,17.1,27.0,-0.4,0.7,0.3,0.020,-0.8,-0.4,-1.2,0.1
2,2,Russell Westbrook,47080179,PG,34,LAL/LAC,73,24,29.1,5.9,...,18.4,27.7,-0.6,2.6,1.9,0.044,0.3,-0.1,0.2,1.2
3,3,LeBron James,44474988,PF,38,LAL,55,54,35.5,11.1,...,11.6,33.3,3.2,2.4,5.6,0.138,5.5,0.6,6.1,4.0
4,4,Kevin Durant,44119845,PF,34,BRK/PHO,47,47,35.6,10.3,...,13.4,30.7,4.7,2.1,6.8,0.194,6.0,1.2,7.1,3.9

### Question 1: Data Cleaning

Data Inspection

In [71]:
# Display the info of the DataFrame
df_stats_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 467 entries, 0 to 466
Data columns (total 52 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     467 non-null    int64
 1   Player Name    467 non-null    object
 2   Salary         467 non-null    int64
 3   Position       467 non-null    object
 4   Age            467 non-null    int64
 5   Team           467 non-null    object
 6   GP             467 non-null    int64
 7   GS             467 non-null    int64
 8   MP             467 non-null    float64
 9   FG             467 non-null    float64
 10  FGA            467 non-null    float64
 11  FG%            466 non-null    float64
 12  3P             467 non-null    object
 13  3PA            467 non-null    float64
 14  3P%            454 non-null    float64
 15  2P             467 non-null    float64
 16  2PA            467 non-null    float64
 17  2P%            463 non-null    float64
 18  eFG%           466 non-null    float64
 19  FT             467 non-null    float64
 20  FTA            467 non-null    float64
 21  FT%            444 non-null    float64
 22  ORB            467 non-null    float64
 23  DRB            467 non-null    float64
 24  TRB            467 non-null    float64
 25  AST            467 non-null    float64
 26  STL            467 non-null    float64
 27  BLK            467 non-null    float64
 28  TOV            467 non-null    float64
 29  PF             467 non-null    float64
 30  PTS            467 non-null    float64
 31  Total Minutes  467 non-null    int64
 32  PER            467 non-null    float64
 33  TS%            466 non-null    float64
 34  3PAr           466 non-null    float64
 35  FTr            466 non-null    float64
 36  ORB%           467 non-null    float64
 37  DRB%           467 non-null    float64
 38  TRB%           467 non-null    float64
 39  AST%           467 non-null    float64
 40  STL%           467 non-null    float64
 41  BLK%           467 non-null    float64
 42  TOV%           467 non-null    float64
 43  USG%           467 non-null    float64
 44  OWS            467 non-null    float64
 45  DWS            467 non-null    float64
 46  WS             467 non-null    float64
 47  WS/48          467 non-null    float64
 48  OBPM           467 non-null    float64
 49  DBPM           467 non-null    float64
 50  BPM            467 non-null    float64
 51  VORP           467 non-null    float64
dtypes: float64(42), int64(6), object(4)
memory usage: 189.8+ KB

**Noticed:**
- First column in labeled `Unnamed`
- Column `3P (3-Point Field Goals Per Game)` is of datatype `object`

In [72]:
# Change Unnamed column to Rank

# Rename the 'Unnamed: 0' column to 'Rank'
df_stats_copy.rename(columns={'Unnamed: 0': 'Rank'}, inplace=True)

# Convert the '3P' column to float64
df_stats_copy['3P'] = pd.to_numeric(df_stats_copy['3P'], errors='coerce')
df_stats_copy['3P'] = df_stats_copy['3P'].astype('float64')

df_stats_copy.info(['Rank', '3P'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 467 entries, 0 to 466
Data columns (total 52 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           467 non-null    int64
 1   Player Name    467 non-null    object
 2   Salary         467 non-null    int64
 3   Position       467 non-null    object
 4   Age            467 non-null    int64
 5   Team           467 non-null    object
 6   GP             467 non-null    int64
 7   GS             467 non-null    int64
 8   MP             467 non-null    float64
 9   FG             467 non-null    float64
 10  FGA            467 non-null    float64
 11  FG%            466 non-null    float64
 12  3P             466 non-null    float64
 13  3PA            467 non-null    float64
 14  3P%            454 non-null    float64
 15  2P             467 non-null    float64
 16  2PA            467 non-null    float64
 17  2P%            463 non-null    float64
 18  eFG%           466 non-null    float64
 19  FT             467 non-null    float64
 20  FTA            467 non-null    float64
 21  FT%            444 non-null    float64
 22  ORB            467 non-null    float64
 23  DRB            467 non-null    float64
 24  TRB            467 non-null    float64
 25  AST            467 non-null    float64
 26  STL            467 non-null    float64
 27  BLK            467 non-null    float64
 28  TOV            467 non-null    float64
 29  PF             467 non-null    float64
 30  PTS            467 non-null    float64
 31  Total Minutes  467 non-null    int64
 32  PER            467 non-null    float64
 33  TS%            466 non-null    float64
 34  3PAr           466 non-null    float64
 35  FTr            466 non-null    float64
 36  ORB%           467 non-null    float64
 37  DRB%           467 non-null    float64
 38  TRB%           467 non-null    float64
 39  AST%           467 non-null    float64
 40  STL%           467 non-null    float64
 41  BLK%           467 non-null    float64
 42  TOV%           467 non-null    float64
 43  USG%           467 non-null    float64
 44  OWS            467 non-null    float64
 45  DWS            467 non-null    float64
 46  WS             467 non-null    float64
 47  WS/48          467 non-null    float64
 48  OBPM           467 non-null    float64
 49  DBPM           467 non-null    float64
 50  BPM            467 non-null    float64
 51  VORP           467 non-null    float64
dtypes: float64(43), int64(6), object(3)
memory usage: 189.8+ KB

In [73]:
# Check for missing values
df_stats_copy.isnull().sum()

Rank              0
Player Name       0
Salary            0
Position          0
Age               0
Team              0
GP                0
GS                0
MP                0
FG                0
FGA               0
FG%               1
3P                1
3PA               0
3P%              13
2P                0
2PA               0
2P%               4
eFG%              1
FT                0
FTA               0
FT%              23
ORB               0
DRB               0
TRB               0
AST               0
STL               0
BLK               0
TOV               0
PF                0
PTS               0
Total Minutes     0
PER               0
TS%               1
3PAr              1
FTr               1
ORB%              0
DRB%              0
TRB%              0
AST%              0
STL%              0
BLK%              0
TOV%              0
USG%              0
OWS               0
DWS               0
WS                0
WS/48             0
OBPM              0
DBPM              0
BPM               0
VORP              0
dtype: int64

**Missing Values:**
- `FG%` -> 1 value missing
- `3P` -> 1 value missing
- `3P%` -> 13 values missing
- `2P%` -> 4 values missing
- `eFG%` -> 1 value missing
- `FT%` -> 23 values missing
- `TS%` -> 1 value missing
- `3PAr` -> 1 value missing
- `FTr` -> 1 value missing

In this project, we opted to handle missing values by calculating or imputing them rather than dropping the rows or entries. This decision was motivated by several key considerations:

1. Preserving Data Integrity
    - Maximizing Data Utilization: By calculating or imputing missing values, we ensure that we make the most out of the available data. Dropping rows with missing values can lead to a significant loss of information, especially if the dataset is not very large.
    - Maintaining Representativeness: Removing rows with missing values can introduce bias, as the remaining data may no longer be representative of the original dataset. By imputing missing values, we preserve the dataset's structure and distribution.

2. Leveraging Domain Knowledge
    - Informed Calculations: Many missing values can be calculated using existing domain knowledge and relationships between variables. For example, FG% (Field Goal Percentage) can be calculated from FG (Field Goals) and FGA (Field Goals Attempted). Similarly, TS% (True Shooting Percentage) can be derived from PTS (Points), FGA, and FTA (Free Throw Attempts). Utilizing these relationships allows us to fill in missing values accurately.
    - Handling Edge Cases: By explicitly handling cases where the respective columns are zero, we ensure that our calculations are robust and avoid division by zero errors. This careful handling maintains the integrity of the calculated values.

Since `FA` and `FGA` don't have any missing values then `FG%` can be calculated.

In [74]:
# Field Goal Percentage Missing Value

# Calculate FG% where possible
df_stats_copy['FG%'] = df_stats_copy.apply(
    lambda row: (row['FG'] / row['FGA'] * 100) if pd.isnull(row['FG%']) and not pd.isnull(row['FG']) and not pd.isnull(row['FGA']) and row['FGA'] != 0 else (0 if row['FG'] == 0 and row['FGA'] == 0 else row['FG%']), 
    axis=1
)

Calculating value for missing `3P` value if `3PA` & `3P%` are valid.

In [75]:
# 3P Missing Value

# Calculate 3P where possible
df_stats_copy['3P'] = df_stats_copy.apply(
    lambda row: (row['3PA'] * (row['3P%'] / 100)) if pd.isnull(row['3P']) and not pd.isnull(row['3PA']) and not pd.isnull(row['3P%']) and row['3PA'] != 0 else row['3P'], 
    axis=1
)

Since `3P` and `3PA` don't have any missing values then the `3P%` can be calculated.

In [76]:
# 3-Point Field Goal Percentage Missing Value

# Calculate 3P% where possible
df_stats_copy['3P%'] = df_stats_copy.apply(
    lambda row: (row['3P'] / row['3PA'] * 100) if pd.isnull(row['3P%']) and not pd.isnull(row['3P']) and not pd.isnull(row['3PA']) and row['3PA'] != 0 else (0 if row['3P'] == 0 and row['3PA'] == 0 else row['3P%']), 
    axis=1
)

Since `2P` and `2PA` don't have missing values then `2P%` can be calculated.

In [77]:
# 2-Point Field Goal Percentage Missing Value

# Calculate 3P% where possible
df_stats_copy['2P%'] = df_stats_copy.apply(
    lambda row: (row['2P'] / row['2PA'] * 100) if pd.isnull(row['3P%']) and not pd.isnull(row['2P']) and not pd.isnull(row['2PA']) and row['2PA'] != 0 else (0 if row['2P'] == 0 and row['2PA'] == 0 else row['3P%']), 
    axis=1
)

The effective field goal percentage `(eFG%)` adjusts field goal percentage to account for the extra value of a 3-point field goal:

$$
eFG\% = \frac{FG + 0.5 \times 3P}{FGA}
$$

where:
- \( FG \) = Field Goals Made
- \( 3P \) = Three-Point Field Goals Made
- \( FGA \) = Field Goal Attempts

In [78]:
# Calculate eFG% where possible
df_stats_copy['eFG%'] = df_stats_copy.apply(
    lambda row: ((row['FG'] + 0.5 * row['3P']) / row['FGA'] * 100) if pd.isnull(row['eFG%']) and not pd.isnull(row['FG']) and not pd.isnull(row['3P']) and not pd.isnull(row['FGA']) and row['FGA'] != 0 else (0 if row['FGA'] == 0 else row['eFG%']), 
    axis=1
)

Since `FT` & `FTA` don't have any missing values then `FT%` can be calculated.

In [79]:
# Free Throw Percentage Missing Value

# Calculate FT% where possible
df_stats_copy['FT%'] = df_stats_copy.apply(
    lambda row: (row['FT'] / row['FTA'] * 100) if pd.isnull(row['FT%']) and not pd.isnull(row['FT']) and not pd.isnull(row['FTA']) and row['FTA'] != 0 else (0 if row['FT'] == 0 and row['FTA'] == 0 else row['FT%']), 
    axis=1
)

The true shooting percentage `(TS%)` measures scoring efficiency by incorporating field goals, free throws, and three-pointers:

$$
TS\% = \frac{0.5 \times \text{PTS}}{\text{FGA} + 0.44 \times \text{FTA}}
$$

where:
- \( PTS \) = Total Points Scored Per Game
- \( FGA \) = Total Field Goal Attempts
- \( FTA \) = Total Free Throw Attempts

In [81]:
# Calculate TS% where possible using the specified formula
df_stats_copy['TS%'] = df_stats_copy.apply(
    lambda row: (0.5 * row['PTS'] / (row['FGA'] + 0.44 * row['FTA']) * 100) if pd.isnull(row['TS%']) and not pd.isnull(row['PTS']) and not pd.isnull(row['FGA']) and not pd.isnull(row['FTA']) and (row['FGA'] + 0.44 * row['FTA']) != 0 else (0 if (row['FGA'] + 0.44 * row['FTA']) == 0 else row['TS%']), 
    axis=1
)

The `3PAr` (3-Point Attempt Rate) can be calculated using the formula:

$$
3PAr = \frac{3PA}{FGA}
$$

where:
- \( 3PA \) = 3-Point Field Goal Attempts Per Game
- \( FGA \) = Total Field Goal Attempts Per Game

In [82]:
# Calculate 3PAr where possible
df_stats_copy['3PAr'] = df_stats_copy.apply(
    lambda row: (row['3PA'] / row['FGA']) if pd.isnull(row['3PAr']) and not pd.isnull(row['3PA']) and not pd.isnull(row['FGA']) and row['FGA'] != 0 else (0 if row['FGA'] == 0 else row['3PAr']), 
    axis=1
)

The `FTr` (Free Throw Rate) can be calculated using the formula:

$$
FTr = \frac{FTA}{FGA}
$$

where:
- \( FTA \) = Free Throw Attempts Per Game
- \( FGA \) = Total Field Goal Attempts Per Game

In [83]:
# Calculate FTr where possible
df_stats_copy['FTr'] = df_stats_copy.apply(
    lambda row: (row['FTA'] / row['FGA']) if pd.isnull(row['FTr']) and not pd.isnull(row['FTA']) and not pd.isnull(row['FGA']) and row['FGA'] != 0 else (0 if row['FGA'] == 0 else row['FTr']), 
    axis=1
)

Final check of missing values.

In [84]:
df_stats_copy.isnull().sum()

Rank             0
Player Name      0
Salary           0
Position         0
Age              0
Team             0
GP               0
GS               0
MP               0
FG               0
FGA              0
FG%              0
3P               0
3PA              0
3P%              0
2P               0
2PA              0
2P%              0
eFG%             0
FT               0
FTA              0
FT%              0
ORB              0
DRB              0
TRB              0
AST              0
STL              0
BLK              0
TOV              0
PF               0
PTS              0
Total Minutes    0
PER              0
TS%              0
3PAr             0
FTr              0
ORB%             0
DRB%             0
TRB%             0
AST%             0
STL%             0
BLK%             0
TOV%             0
USG%             0
OWS              0
DWS              0
WS               0
WS/48            0
OBPM             0
DBPM             0
BPM              0
VORP             0
dtype: int64